@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

$font-gloria: 'Gloria Hallelujah', cursive;
$font-abel: 'Abel', sans-serif;
$font-open-sans: "Open Sans", sans-serif;
