@import "~ng-uikit-pro-standard/assets/scss/bootstrap/_functions.scss";
@import "~ng-uikit-pro-standard/assets/scss/bootstrap/_variables.scss";
@import "~ng-uikit-pro-standard/assets/scss/bootstrap/mixins/_breakpoints.scss";

$text-colour: white;
$background-colour: #1f2e52;
$background-highlight-colour: #405ea6;
$common-colour: #9bbb76;
$uncommon-colour: #5e78cc;
$rare-colour: #b2667f;
$very-rare-colour: #e9d779;
$button-colour: #485c8d;
$button-highlight-colour: #313e60;
$background-image: "assets/images/background.png";

$outline-color: #384189;
$header-image: "/assets/images/header.png";

$text-box-colour: #11182c;
