@import 'variables';
@import 'fonts';

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url("assets/images/background.png");
  background-repeat: repeat-y;
  font-family: $font-open-sans;
}

p, span, h1, h2, h3, h4, h5, h6, div {
  color: white;
}

.reos-block {
  border-radius: 1px;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.4);

  .title {
    font-family: $font-abel;
    border-bottom: 3px outset #405ea6;
  }

  .block-content {
    font-size: 0.8em;
  }

  mdb-select {
    background-color: #1f2e52;
    font-family: 'Abel', sans-serif;
    color: white;
    width: 100%;
    border: 1px solid #1f2e52;
    height: 25px;
    border-radius: 4px;
  }

  mdb-select > div > div.multiple > div.option {
    margin-top: -3px;
    max-width: 15em;
  }

  mdb-select > div > div.multiple {
    border-bottom: none;
    font-size: 0.9rem;
    font-family: $font-abel;
    padding-left: 5px;
    line-height: 1.6rem;
  }

  mdb-select > div > div.single > div.value {
    color: white;
    margin-top: -3px;
  }

  mdb-select > div > div.single {
    border-bottom: none;
    font-size: 0.9rem;
    font-family: $font-abel;
    padding-left: 5px;
    line-height: 1.6rem;
  }

  .mdb-select-toggle {
    margin-top: -0.9rem;
    width: 20px;
    color: white;
    font-size: 10px;
  }

  .dropdown-content {
    background-color: #1f2e52;

    li:hover, li.active, .selected {
      span {

        color: #1f2e52 !important;
      }
    }

    li > span, li.disabled > span {
      color: white;
    }

    li.optgroup > span {
      color: white !important;
    }
  }

  select {
    background-color: #1f2e52;
    font-family: 'Abel', sans-serif;
    color: white;
    width: 100%;
    border: 1px solid #1f2e52;
    height: 25px;
    border-radius: 4px;
  }

  input {
    background-color: #1f2e52;
    font-family: 'Abel', sans-serif;
    color: white;
    width: 100%;
    border: 1px solid #1f2e52;
    height: 25px;
    border-radius: 4px;
    padding: 0.9em;
  }

  .md-form label {
    color: white;
  }

}

select > [label="Common"] {
  background-color: #9bbb76;
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
}

select > [label="Uncommon"] {
  background-color: #5e78cc;
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
}

select > [label="Rare"] {
  background-color: #b2667f;
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
}

select > [label="Very Rare"] {
  background-color: #e9d779;
  color: black;
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
}

.text-error {
  color: red;
}

.reo-button {
  font-family: $font-abel;
  background: #485c8d !important;
  padding: 5px 10px !important;
  vertical-align: middle;
  letter-spacing: 0.03em;
  border-radius: 4px !important;

}

.reo-button:hover {
  background: #313e60;
  transition: background-color 0.2s;
}



