@import "../../fonts";
@import '../../variables';

.litter-output{
    width: 100%;
    height: 35em;
    resize: none;
    overflow: auto;
    font-family: $font-abel;
  background: $background-colour;
  border: 1px solid $text-box-colour;
    border-radius: 4px;
    color: white;
}
