<main class="text-center">

  <div class="container-fluid p-0 text-center">
    <div class="page-title">
      <h1 class="">World of Reos</h1>
    </div>
  </div>


  <div class="container-fluid content pt-5">
    <div class="row justify-content-center">
      <div class="col col-md-6">

        <div class="reos-block px-5 py-3">
          <h2 class="title">Links</h2>
          <div class="pt-3 d-flex justify-content-around flex-wrap reos-links">
            <div><a class="mx-3" mdbBtn mdbWavesEffect routerLink="/roller" type="button">Reos Breeding Roller</a></div>
            <div><a class="mx-3" href="https://www.deviantart.com/world-of-reos" mdbBtn mdbWavesEffect target="_blank" type="button">Reos Group</a></div>
            <div><a class="mx-3" href="/assets/external/cpcounter/index.html" mdbBtn mdbWavesEffect target="_blank" type="button">Citizen Point Calculator</a>
            </div>
            <div><a class="mx-3" href="/assets/external/accounter/index.html" mdbBtn mdbWavesEffect target="_blank" type="button">Adoption Center Payout
              Calculator</a></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
