<main class="text-center">

  <div class="container-fluid p-0">
    <div class="title">
      <h1 class="">World of Reos Breeding Roller</h1>
    </div>
  </div>

  <div class="container-fluid content pt-5">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md px-4">
            <app-parent-block [parentTitle]="'Sire'" #sireParent></app-parent-block>
          </div>
          <div class="col-md px-4">
            <app-parent-block [parentTitle]="'Dam'" #dameParent></app-parent-block>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-6 px-4">
            <app-supplements #supplementsComponent></app-supplements>
          </div>
          <div class="col-md-6 px-4">
            <app-roller-options #rollerOptionsComponent></app-roller-options>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md px-4">
            <app-litter (trigger)="roll()" #litterBlock></app-litter>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
