<div class="reos-block px-5 py-3">
  <h2 class="title">Supplements</h2>
  <div class=" text-left">
      <div *ngFor="let supplement of supplements; let i = index" class="row mt-4">
        <div class="col-md-6">
        <mdb-checkbox (change)="toggleSupplement($event,i)">{{supplement.name}}</mdb-checkbox>
        </div>
        <div [hidden]="!isSupplementToggled(i)" class="col-md-6">
          <mdb-select *ngIf="supplement.rule == rules.TARGET_COAT_COLOUR"
                      [(ngModel)]="supplementTargetCoatColour"
                      [enableSelectAll]="false"
                      [filterEnabled]="true"
                      [optionHeight]="20"
                      [options]="coatColourOptions"
                      [visibleOptions]="15"
                      placeholder=""></mdb-select>
          <mdb-select *ngIf="supplement.rule == rules.TARGET_BODY_TYPE"
                      [(ngModel)]="supplementTargetBodyType"
                      [enableSelectAll]="false"
                      [filterEnabled]="true"
                      [optionHeight]="20"
                      [options]="bodyTypeOptions"
                      [visibleOptions]="15"
                      placeholder=""></mdb-select>
          <mdb-select *ngIf="supplement.rule == rules.TARGET_GLINT"
                      [(ngModel)]="supplementTargetGlintColour"
                      [enableSelectAll]="false"
                      [filterEnabled]="true"
                      [optionHeight]="20"
                      [options]="coatColourOptions"
                      [visibleOptions]="15"
                      placeholder=""></mdb-select>
        </div>
      </div>
  </div>
</div>
