<div class="reos-block px-5 py-3">
  <h2 class="title">Parent Name</h2>
  <div class="row block-content justify-content-center">
    <div class="col-md-4 py-0 px-1 mt-2">
      <label class="text-nowrap">Political Status</label>
      <select #politicalStatusSelect (selectionChange)="updateSpecies($event)" class="">
        <ng-container *ngFor="let item of politicalStatusOptions">
          <option value="{{item.value}}">{{item.label | titlecase}}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-md-4 py-0 px-1 mt-2">
      <label class="text-nowrap">Species</label>
      <select class="">
        <ng-container *ngFor="let item of speciesOptions">
          <option value="{{item.value}}">{{item.label | titlecase}}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-md-4 py-0 px-1 mt-2">
      <label class="text-nowrap">Type</label>
      <select class="">
        <ng-container *ngFor="let item of filteredBodyTypeOptions">
          <option value="{{item.value}}">{{item.label | titlecase}}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-md-4 py-0 px-1 mt-2">
      <label class="text-nowrap">Fur Type</label>
      <select class="">
        <ng-container *ngFor="let item of coatTypeOptions">
          <option value="{{item.value}}">{{item.label | titlecase}}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-md-4 py-0 px-1 mt-2">
      <label class="text-nowrap">Ears Trait</label>
      <select class="">
        <ng-container *ngFor="let item of filteredEarTraitsOptions">
          <option value="{{item.value}}">{{item.label | titlecase}}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-md-4 py-0 px-1 mt-2">
      <label class="text-nowrap">Tail Trait</label>
      <select class="">
        <ng-container *ngFor="let item of filteredTailTraitOptions">
          <option value="{{item.value}}">{{item.label | titlecase}}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-md-4 py-0 px-1 mt-2">
      <label class="text-nowrap">Eyes Trait</label>
      <select class="">
        <ng-container *ngFor="let item of eyeTraitOptions">
          <option value="{{item.value}}">{{item.label | titlecase}}</option>
        </ng-container>
      </select>
    </div>

  </div>
</div>
